# Username, using in images names
USERNAME=username

# Variables for post_db
MONGO_VERSION=3.2

# Variables for ui
UI_VERSION=latest
UI_PORT=9292

# Variables for post
POST_VERSION=latest

# Variables for comment
COMMENT_VERSION=latest

# Variables for mongodb exporter
MONGODB_EXPORTER_VERSION=0.6.1

# Basename for Docker Compose project
COMPOSE_PROJECT_NAME=hw18
